.list-of-articles{
  margin: 1%;
  text-align: center;
  cursor: url("../../../assets/wezleygun_fix.png"), auto;
  height: 100%;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.4);
  font-family: Lato, sans-serif;
}
.list-of-articles > img {
  height: 10vh;
  width: 10vh;
}
.list-of-articles > p {
  font-size: 1vh;
}

.list-of-articles > h2 {
  font-size: 2vh;
}

.which-articles{
  font-family: Lato, sans-serif;
  font-weight: bold;
}




@media(min-width: 37.5rem) {

}

@media (min-width: 65rem){
  .list-of-articles{
    margin: 1%;
    text-align: center;
    cursor: url("../../../assets/wezleygun.png"), auto;
    height: 30%;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.4);
    font-family: Lato, sans-serif;
  }
  .list-of-articles > img {
    height: 10%;
    width: 10%;
  }

  .list-of-articles > p {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .list-of-articles > h2 {
    font-size: 2rem;
    line-height: 1.2;
    
  }
}
