<mat-accordion>
    <mat-expansion-panel hideToggle *ngFor = "let currentAsset of currentCompanyProfile">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{currentAsset.name}} ({{currentAsset.ticker}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-abbr-comp-deets [ticker]="currentAsset.ticker"></app-abbr-comp-deets>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
    </mat-expansion-panel>
  </mat-accordion>


