#headerToolBar{
    width: 100%;
    height: 10vh;
    justify-items: center;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.4);
}
#header-component-title{
    font-size: 2vh;
}
.submitBar{

}
.icon{
    font-size: 1.5vh;
}
.route{
    font-size: 1.5vh;
}
#drawerContainer {
    width: 100%;
    height: 90%;
  }

.menu-spacer{
    flex: 2 2 auto;
}

.route{
    margin-right: 1em;
}

.icon{
    position: relative;
    top: .25em;
}

input{
    font-size: 16px;
    color: blue;
    opacity: 1; 
}

.form-control{
font-size: 20px;
color:black;
}

.form-inline{
font-size: 15px;
opacity: .9; 
}

.accentColor{
color: #0367A6;
}

a{
text-decoration: none;
color: #000;
}

@media(min-width: 37.5rem) {

}

@media (min-width: 65rem){
    #headerToolBar{
        justify-content: center;

    }
    .submitBar{
        padding-left: 4rem;
    
    }
    #header-component-title{
        font-size: 2rem;
    }
    .icon{
        font-size: 2rem;
    }
    .route{
        font-size: 1.5rem;
    }
    .CalvinsDivider{
        padding-right: 4rem;
    }
}

/* .active-pink-2 input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid #05F228;
    box-shadow: 0 1px 0 0 #05F228;
    } */

.CalvinsDivider{
    flex: 2 2 auto;

}


