<mat-toolbar class="custom" color="primary">


    <h1>ASAP</h1>

    <span class="menu-spacer"></span>
    <div>
      
      <!--Icon-->
      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">verified_user</mat-icon>
      <!--route-->
      <a class="route" mat-button link = "">route1</a>

      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <a class="route" mat-button link = "">route2</a>

      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <a class="route" mat-button link = "">route3</a>

      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <a class="route" mat-button link = "">route4</a>

    </div>


</mat-toolbar>