.menu-spacer{
    flex: 2 2 auto;
}

.route{
    margin-right: 1em;
}

.icon{
    position: relative;
    top: .25em;
}

.active-pink-2 input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    }

input{
        font-size: 16px;
        color: blue;
        opacity: 1; 
}

.form-control{
    font-size: 20px;
    color:black;
}

.form-inline{
    font-size: 20px;
    opacity: .9; 
}




