.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    border-style: groove;
    flex-direction: row;
    overflow-x: auto;
    /* height: 20%; */
    background-color: #0367A6;
  }

  .card {
    flex: 0 0 auto;
  }

  .space {
    margin: 0.1rem 0.2rem 0.1rem 0.2em;
  }

  @media(min-width: 37.5rem) {

  }

  @media (min-width: 65rem){
  }
