.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .card {
    flex: 0 0 auto;
  }

  .space {
    margin-right: 1em;
  }