<div id="main">
  <div id="left-sidebar">
    <!-- 'Main content' -->
    <div id="company-info">
      <div class="company-image clickable">
        <img [src]="logo" alt="Company logo" (click)="goToAsset(profile.ticker)"/>
      </div>
      <div class="company-info-text clickable">
        <h2 (click)="goToAsset(profile.ticker)" >{{profile?.name}}</h2>
      </div>
      <div class="company-info-text clickable" (click)="goToAsset(profile.ticker)">
        <h4>{{profile?.ticker}}</h4>
      </div>
      <div class="company-info-text">
        Category:
        {{profile?.finnhubIndustry}}
      </div>
      <div class="company-info-text">
        Current Price:
        {{asset?.current | currency}}
      </div>
      <div class="company-info-text">
        Open:
        {{asset?.open | currency}}
      </div>
      <div class="company-info-text">
        High:
        {{asset?.high | currency}}
      </div>
      <div class="company-info-text">
        Low:
        {{asset?.low | currency}}
      </div>
      <div class="company-info-text">
        Market Cap:
        {{profile?.marketCapitalization | currency}}
      </div>
      <div class="company-info-text">
        Outstanding Shares:
        {{profile?.shareOutstanding | number : '1.2-2'}}
      </div>
      <div class="company-info-text">
        <a href="{{profile?.weburl}}">{{profile?.weburl}}</a>
      </div>
    </div>
  </div>
  <div id="right-sidebar">
    <app-sentiment [assetTicker]="ticker"></app-sentiment>
  </div>
</div>
