<div id="login-container">
  <h1>ASAP Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" id="username" formControlName="username"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" formControlName="password"/>
      </mat-form-field>
    </div>

    <form *ngIf="submitted && !loginSuccess">
      <mat-error>Invalid credentials provided!</mat-error>
    </form>

    <div>
      <button mat-raised-button [disabled]="loading" id="login-button">Login</button>
      <mat-progress-spinner id="login-spinner" *ngIf="loading" mode="indeterminate" [diameter]="25" [strokeWidth]="5"></mat-progress-spinner>
    </div>
  </form>

  <form [formGroup]="loginForm" (ngSubmit)="register()">
    <div>
      <button mat-raised-button id="register-button">Register</button>
    </div>
  </form>
</div>
