<mat-sidenav-container style="height:100%;"> <!-- 'structural container for content' -->
    <mat-sidenav-content> <!-- 'Main content' -->
        <div style="    color: rgb(255, 255, 255);
                        width: 30%;
                        padding-left: 1%;
                        height: 100%;
                        overflow: auto;
                        background-image: linear-gradient(30deg, #11cf4d, #055e21);
                        border-top-right-radius: 90px;">
          <button *ngIf = "!isFavorited && loggedIn" (click) = "addFavorites()">Add to Favorites</button>
          <div style="padding-top: 2%; text-align: start;">
            <img [src]="logo" alt="Company logo"/>
          </div>
          <div >
                <h2>{{profile?.name}}</h2>
            </div>
            <div>
                <h4>{{profile?.ticker}}</h4>
            </div>
            <div > 
                Category:
                {{profile?.finnhubIndustry}}
            </div>
            <div >
                Current Price:
                {{asset?.current | currency}}
            </div>
            <div >
                Open:
                {{asset?.open | currency}}
            </div>
            <div >
                High:
                {{asset?.high | currency}}
            </div>
            <div >
                Low:
                {{asset?.low | currency}}
            </div>
            <div >
                Market Cap:
                {{profile?.marketCapitalization | currency}}
            </div>
            <div >
                Outstanding Shares:
                {{profile?.shareOutstanding | number : '1.2-2'}}
            </div>
            <div >
                <a href="{{profile?.weburl}}">{{profile?.weburl}}</a>
            </div>
        </div>

        <!-- <input type="URL" name="myURL" [(ngModel)]="myURL" placeholder="insert image URL here" (change)="onURLinserted() ">
        <img [src]="imageToShow" alt="Place image title"> -->

    </mat-sidenav-content>
</mat-sidenav-container>

