.card {
    margin-bottom: 10px;
    display: block;
  
    box-shadow: 0 4px 4px 1px rgba(0,0,0,.2);
    border: .2em solid #04BF68;
    border-radius: 5px;

    width: 80%;
    height: 80%;
    padding: 10px;
    white-space: nowrap;

    white-space: initial;
    overflow-x: wrap;
}

.spacer {
    margin-bottom: 1em;
}

.alignReply {
    display: flex;
    flex-wrap: wrap;

}

.replybox {
    
}
