<div *ngFor="let post of posts">

    <mat-card class="card" (click)="showReply(post)">
        <mat-card-header>
            <div mat-card-avatar [ngStyle]="userProfile" ></div>
            <mat-card-title class="title">
                {{post.title}}
            </mat-card-title>
            <mat-card-subtitle>
                {{post.username}} | {{post.timeStamp | date}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{post.textContent}}
        </mat-card-content>

    </mat-card>

        <div *ngIf="loggedIn">
            <app-reply-box
            [post] = "post"
            ></app-reply-box>
        </div>

    <div>
        <app-display-reply
        [post] = "post"
        ></app-display-reply>
    </div>
</div>
