
  .inline {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .inline > p {
    display: inline-block;
    margin-right: .2em;
  }

  .ticker-display {
      background-color: #f7f6f6;
      overscroll-behavior: contain;
      width: 16em;
      color: white;
  }
  .title{
    font-size: small;
    color: #1B402E;
  }
  .subtitle {
    color: #1B402E;
    font-style: bold;

  }

  .material-icons{
    position: relative;
    top: .3em;
}

a{
  text-decoration: none;
}

