.ticker-display {
  background-color: black;
  overscroll-behavior: contain;
  width: 20em;
  color: white;
  font-family: cursive;
  font-size: 1.5vh;
}
.subtitle {
  color: white;
  font-size: 1vh;
}
.inline {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.inline > p {
  display: inline-block;
  margin-right: .2em;
  font-size: 1vh;
}

.material-icons{
  position: relative;
  top: .3em;
  font-size: 1vh;
}

@media(min-width: 37.5rem) {

}

@media (min-width: 65rem){
  .ticker-display {
    font-size: 1rem;
  }
  .subtitle {
    font-size: 0.8rem;
  }
  .inline {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .inline > p {
    display: inline-block;
    margin-right: .2em;
    font-size: 0.8rem;
  }

  .ticker-display {
      background-color: #f7f6f6;
      /* overscroll-behavior: contain; */
      box-shadow: 0 4px 4px 1px rgba(0,0,0,.2);
      border-radius: 5px;
      width: 16em;
      color: white;
      padding: 1rem;
  }
  .title{
    font-size: small;
    color: #000;
  }
  .subtitle {
    font-weight: bold;
    color: #000;
  }

  .material-icons{
    position: relative;
    top: .3em;
    font-size: 0.8rem;
  }
}

.details{
  color: rgb(48, 48, 48);
}

a{
  text-decoration: none;
}

