<mat-card class="ticker-display">
    <a [routerLink]="['/companyDisplay', asset.companyTicker]">
<!--    <mat-card-header class="card-header">-->
<!--        <mat-card-title class="title" >{{asset.companyTicker}}</mat-card-title>-->
<!--      <mat-card-subtitle class="subtitle"> {{asset.companyName}}</mat-card-subtitle>-->
<!--    </mat-card-header>-->
      <div class="title">{{asset.companyTicker}}</div>
      <div class="subtitle">{{asset.companyName}}</div>

    <mat-card-content id="mat-card">
      <div class="inline">
        <p>Current: {{asset.current | currency}}</p>
      </div>

        <div class="inline">

            <p>Changed: </p>

            <p [ngStyle]="rate">{{change | percent: '2.1-2'}}</p>

            <span class="material-icons">
                {{trending}}
            </span>
        </div>

    </mat-card-content>
</a>
</mat-card>
