
<mat-sidenav-container>
 <mat-sidenav #sidenav>
   <mat-nav-list>
   </mat-nav-list>
 </mat-sidenav>
 <mat-sidenav-content>
   <div style="height: 88vh; margin-left: 80%; margin-right: 2%; margin-top: 1%; border: 2px solid green;">
     <div style= "border: 1px solid green; margin: 1%">
        <div id="sentiment-title" >Sentiment</div>
        <mat-grid-list cols="2" rowHeight="3:1">
          <mat-grid-tile><img src="../assets/twitterIcon.png" class="sentiment-image" id="twitter-icon"></mat-grid-tile>
          <mat-grid-tile [ngSwitch]="twitterSentiment" *ngIf="!loading" class="sentiment-image">
            <img src="../assets/greenarrowup.png" class="sentiment-image" *ngSwitchCase="1" id="upFingerTwitter">
            <img src="../assets/yellowneutral.png" class="sentiment-image" *ngSwitchCase="0" id="neutralFingerTwitter">
            <img src="../assets/redarrowdown.png" class="sentiment-image" *ngSwitchCase="-1" id="downFingerTwitter">
          </mat-grid-tile>
          <mat-grid-tile *ngIf="loading" class="sentiment-image">
            <img src="../assets/LoadingWheel.gif" class="sentiment-image" id="loadingTwitter">
         </mat-grid-tile>
          <br>
          <mat-grid-tile><img src="../assets/redditIcon2.png" class="sentiment-image" id="reddit-icon"></mat-grid-tile>
          <mat-grid-tile [ngSwitch]="redditSentiment" *ngIf="!loading" class="sentiment-image">
            <img src="../assets/greenarrowup.png" class="sentiment-image" *ngSwitchCase="1" id="upFingerReddit">
            <img src="../assets/yellowneutral.png" class="sentiment-image" *ngSwitchCase="0" id="neutralFingerReddit">
            <img src="../assets/redarrowdown.png" class="sentiment-image" *ngSwitchCase="-1" id="downFingerReddit">
         </mat-grid-tile>
         <mat-grid-tile *ngIf="loading" class="sentiment-image">
          <img src="../assets/LoadingWheel.gif" class="sentiment-image" id="loadingReddit">
       </mat-grid-tile>
       <br>
          <mat-grid-tile><img src="../assets/newsImage.png" class="sentiment-image" id="news-icon"></mat-grid-tile>
          <mat-grid-tile [ngSwitch]="newsSentiment" *ngIf="!loading" class="sentiment-image">
            <img src="../assets/greenarrowup.png" class="sentiment-image" *ngSwitchCase="1" id="upFingerReddit">
            <img src="../assets/yellowneutral.png" class="sentiment-image" *ngSwitchCase="0" id="neutralFingerReddit">
            <img src="../assets/redarrowdown.png" class="sentiment-image" *ngSwitchCase="-1" id="downFingerReddit">
         </mat-grid-tile>
         <mat-grid-tile *ngIf="loading" class="sentiment-image">
          <img src="../assets/LoadingWheel.gif" class="sentiment-image" id="loadingReddit">
       </mat-grid-tile>
        </mat-grid-list>

     </div>
   </div>
 </mat-sidenav-content>
</mat-sidenav-container>


