<form class = "login-component-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <p>ASAP Login</p>
  <div>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" id="username" formControlName="username"/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" formControlName="password"/>
    </mat-form-field>
  </div>

  <form *ngIf="submitted && !loginSuccess">
    <mat-error>Invalid credentials provided!</mat-error>
  </form>

  <form *ngIf="submitted && loginForm.invalid">
    <mat-error id="empty-form-error">Please fill out both fields</mat-error>
  </form>

  <div>
    <button mat-raised-button color="primary" [disabled]="loading" id="login-button">Login</button>
    <mat-progress-spinner id="login-spinner" *ngIf="loading" mode="indeterminate" [diameter]="25" [strokeWidth]="5"></mat-progress-spinner>
  </div>
  <div>
    <button mat-raised-button color="primary" id="register-button" (click) = "register()">Register</button>
  </div>
</form>
  <!-- <form class = "login-component-form" [formGroup]="loginForm" (ngSubmit)="register()">
    <div>
      <button mat-raised-button color="primary" id="register-button">Register</button>
    </div>
  </form>
</div> -->
