<h2>Register new user</h2>
<div>
    <label for="username">Username</label>
    <input id ="username" [(ngModel)]="newUser.username" placeholder="username">
</div>
<div>
    <label for="password">Password</label>
    <input id ="password" type="password" [(ngModel)]="newUser.password" placeholder="password">
</div>
<div>
    <label for="firstname">First Name</label>
    <input id ="firstname" [(ngModel)]="newUser.firstname" placeholder="first name">
</div>
<div>
    <label for="lastname">Last Name</label>
    <input id ="lastname" [(ngModel)]="newUser.lastname" placeholder="last name">
</div>
<div>
    <label for="email">Email</label>
    <input id ="email" type="email" [(ngModel)]="newUser.email" placeholder="email">
</div>
<div>
    <label for="role">Role</label>
    <input id ="role" [(ngModel)]="newUser.role" placeholder="role">
</div>
<div>
    <button type="button" (click)="register()">Register User</button>
</div>
<div *ngIf="errorMessage" id="error">
    All fields need to be filled out
</div>