<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Graph Details</mat-panel-title>
            <mat-panel-description>Click to expand and collapse</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div>
            <mat-label>Chart type</mat-label>
            <mat-radio-group aria-label="Select a chart type" 
                [(ngModel)]="selectedChartType">
                <mat-radio-button *ngFor="let type of chartSelection" 
                    [value]="type" (change)='propagateChartType($event)'>{{type | titlecase}}</mat-radio-button>
            </mat-radio-group>
        </div>
        <h3>Assets from a span of time</h3>
        <mat-form-field appearance="fill">
            <mat-label>Time interval</mat-label>
            <mat-select [(value)]="selectedTime" (selectionChange)='propagateTimeInterval($event)'>
                <mat-option *ngFor="let time of timeIntervalSelection" [value]="time">
                   {{printTimeInterval(time)}} 
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>