#loggedInDashboard {
    height: 100%;
}

#loggedOutDashboard {
    height: 100%;
}

 #dashboardContainer {
    /* margin-top: 60rem; */
    height: 77%;
}

.container{
    padding: 1rem;
}

app-ticker-container{
    height: 20%;
}




@media(min-width: 37.5rem) {

}

@media (min-width: 65rem){
}

.scrollable{
    overflow-y: scroll;
}