<div>
    <!-- Ticker accross the top -->
    <app-ticker-container></app-ticker-container>
    <!-- rest of the page -->
    <mat-grid-list cols="3" rowHeight="2:1" *ngIf = "loggedIn">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
      </mat-grid-list>



      <mat-grid-list cols="2" rowHeight="1:1" *ngIf = "!loggedIn">
        <mat-grid-tile>1</mat-grid-tile>

        <mat-grid-tile>
            <app-news></app-news>
        </mat-grid-tile>
        
      </mat-grid-list>
</div>


  


<!--   
        -->
