@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-grey);
$my-accent: mat-palette($mat-cyan, A400);
$my-warn: mat-palette($mat-blue,0367A6);

$my-theme: mat-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    )
));

@include angular-material-theme($my-theme);

