.card {
    margin-bottom: 10px;
    margin-left: 1rem;
    display: block;
  
    box-shadow: 0 4px 4px 1px rgba(0,0,0,.2);
    border-radius: 5px;

    width: 60%;
    height: 80%;
    padding: 10px;

    white-space: initial;
    overflow-x: wrap;
}